*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerblock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    background:#090945;
    height: 100%;
    padding: 6%  0 4%  0;
}

.secondblock{
  
    height: 100%;
}
.horizontal{
  display: none;
}

#name{
    color:#020267;
    
}
  

.secondblock span{
    display: block;
    margin:  5% 0 0 8%;
}
.thirdblock{
   
    height: 100%;
}
.firstblock img{
    width: 18%;
    margin: 4% 0 0 5%;
}
#boarding{
  
    display: block;
    margin: -16.5% 0 0 23%;
    font-size: 37px;
}
span{
font-size: 25px;
color: azure;
}
.firstblock span{
color:#adb36e
}

a{
    text-decoration: none;
   
}
figure.snip1157 blockquote{
  padding-bottom: 92%;
}

/*
ul{
    margin-top: 6%;
    margin-left: 2%;
}
ul li{
list-style: none;
display: inline;
margin: 1%;
font-size: 25px;

}*/
.secondblock i{
font-size: 25px;
margin: 0 0 0 1%;
}
.element-container h1{
margin: 0% 0 0% 0;
}
.privacy{
background-color:#030337;
padding-top: 2%;
display: flex;
flex-direction: column;

}
.privacy span{
color:#D9D9D6;
font-size: 20px;
padding-right: 6%;

}
.policy{
margin: 0 0 0 55%;

}
#enlight{
    color:#9FE2BF;
}
#enlight:hover{
   color: #6495ED
}
#location:hover{
    color: #9FE2BF;
}#contacts:hover{
    color: #9FE2BF;
}  
#emails:hover{
    color: #9FE2BF;
}
#tophead,#tophead2{
    font-size: 55px;
}
.more a:hover{
  transform: scale(1.5);
  background: #02024d;
}


@media(max-width:1300px){
p,span{
font-size: 20px;
}
.h,.news{
  font-size: 45px;
}
}
@media(max-width:1125px)
{
.containerblock{
    grid-template-columns: 1fr 1fr;
}
.thirdblock{
    margin:5% 0 0 70%;
}
}
@media(max-width:680px)
{
.containerblock{
    grid-template-columns: 1fr;
    width: 100%;
}
.thirdblock{
    margin:5% 0 0 10%;
}
.secondblock{
    margin: 5% 0 0 10%;

}
.horizontal{
  display:inline;
}

.element-container{
    margin: 9% 0 0 15%;
}
#desk b{
  font-size: 26px;
}
}



@media(max-width:480px)
{
.element-container{
    margin: 9% 0 0 0%;
}
p,span{
    font-size: 18px;
}
h1{
    font-size: 25px;
}
#desk b{
  font-size: 22px;
}
}

#name{
  font-size: 30px;
}
.quote p{
  font-size: 24px;
  
  font-weight: 500;
  text-align: justify;
  font-family:'Times New Roman', Times, serif;
  color: #020267;
}
#desk{
  margin: 3% 0 -3% 15%;
  font-size: 33px;
  color: #020267;
  font-weight: 1800;
}
.h{
  font-size: 34px;
  margin-top: 24%;
}
@media(max-width:310px)
{
.element-container{
    margin: 9% 0 0 0%;
}
p,span{
    font-size: 15px;
}
h1{
    font-size: 20px;
}
.privacy{
    height: 25vh;
}
}

.boxes{
    overflow: hidden;
    
}
.boxes img{
    transition: all 0.6s ease-in-out;
}
.boxes:hover img{
transform: scale(1.05);
}
#err{
    font-size: 270px;
}
#tophead,#tophead2{
    color: #020267
}
/*navigation bar css start from here*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} 
nav{
  display: flex;
  height: 14%;
  width: 100%;
  background: #1b1b1b;
  background:#020267;
  background:#090945;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  
  
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  margin: -12px 0 0 -4%;
  font-family: 'Poppins', sans-serif;


}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
#text{
    
    
    margin: -30% 0 5%;
    font-size: 18px;
}
 .logo img{
    width: 28%;
    margin: 6% 0 0 -30%;
}
a{
    text-decoration: none;
}
@media(max-width:1250px)
{
  nav ul{
    margin: 0 -5% 0 0;
    
  }
}
@media (max-width: 1170px){
  nav{
    padding: 0 40px 0 50px;
  }
 nav .logo{
  margin: 30px 0 0 18%;
 }
 .logo img{
  width: 38%;
  margin: -2% 0 0 -30%;

 }
  nav ul{
    margin-top: -8%;
    margin-left: 19%;
  }
  nav .logo #text{
    margin-top: -45%;
    font-size: 20px;
    margin:-49% 0 0 23px;
  
}
 
}
@media (max-width:1080px) {
  nav .menu-btn i{
    display: block;
    font-size: 45px;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 22.5%;
   
    background: #020267;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 9999;
    left: -143%;
    margin-left: 0;
    
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
@media(max-width:780px)
{
  nav ul{
    top:19%;
    padding-top: 1%;

  }
}
@media(max-width:900px)
{
  nav ul{
    top:21%;
    padding-top: 1%;

  }
}
@media(max-width:780px)
{
  nav ul{
    top:20%;
  

  }
}
@media (max-width: 650px) {
  nav ul{
    top:19%;
   
  }
  #err{
    font-size: 105px;
  }
nav .logo img{
    width: 42%;
    margin: -6% 0 0 -40%;
}
}
@media(max-width:530px)
{
  nav ul{
    top:18%;
  

  }
}

@media (max-width: 430px)
 {
  nav ul{
    top:17%;
  }
nav .logo img{
    width: 40%;
    margin: -5 0 0 -40%;
}
nav .menu-btn i{
  display: block;
  font-size: 25px;
}
nav .logo #text{
  font-size: 15px;
  margin-left: 0px;
}


    figure.snip1157 {
      width: 30%;
      margin-left: 20%;
      
  
}
.more a{
  font-size: 20px;
  margin-left: 20%;
}
 }
 @media (max-width: 300px)
 {
  .more a{
    margin-left: 10%;
  }
  nav ul{
    top:15%;
  }

 }

 .brief{
  margin: 2% 12% 0 10%;
  font-size: 25px;
  color: #020267;
}

@media (max-width:1300px)
{
  .parent{
      grid-template-columns: 1fr 1fr 1fr;
  }
  .im img{
      width: 100%;
      width: 75%;height: 750px;
  }
  
  
}
@media(max-width:800px)
{
  .parent{
      grid-template-columns: 1fr 1fr;
      
  }
  center img{
      width: 60%;
  }


}
@media(max-width:480px)
{
.parent{
grid-template-columns: 1fr ;
}
      
 h1{
  font-size: 15px;
 }
 .im img{
  height: 250px;
 }
 #tophead,#tophead2
{
  font-size: 25px;
}

}



